{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "jest"
      ],
      "plugins": [
        "transform-object-rest-spread"
      ]
    },
    "dev": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": [
        "syntax-object-rest-spread"
      ]
    }
  }
}
